.card-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 10px 20px;
  padding: 0px 50px;
}
.card-icon{
  margin-left: 20px; 
  cursor: pointer;
}
#alterar{
  color: blue;
}
#lixeira{
  color: red;
  margin-left: 30px;
}

.card-id {
  
}
.card-name {
  
}
.card-cost {

}

