@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ececec;
}
.register-container{
  width: 50%;
  display:flex;
  flex-direction: column;
  margin-top: 2%;
  text-align: center;
  align-items: center;
}
.register-title{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.register-input{
  width: 50%;
  height: 30px;
  flex-direction: column;
  margin: 5px 0px;
  border:none;
  border-radius: 5px;
  background-color: #c6c6c6;
  padding-left: 10px;

}
.register-button{
  width: 110px;
  height: 30px;
  margin-top: 10px;
  background-color: #146600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}
.register-button:hover{
  opacity: 0.8;
}
.card-option{
  width: 50%;
  display: flex;
  margin: 15px 10px 0px 0px;
  padding: 0px 30px;
}
.card-box{
  width: 50%;
  min-height: 50vh;
  border: 1px solid black;
  border-radius: 5px;
}
.table{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content:center;
}

table {
  border-collapse: collapse;
  width: 50%;
 
}

th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {background-color: #ccc;}
#alterar{
  color: blue;
  margin-left: 10px;
  cursor: pointer;
}
#lixeira{
  color: red;
  cursor: pointer;
}